body{
    margin: 0;
    padding: 0;
    background: url(../pagina-web/img/contactos.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

header{
    background-color: transparent;
    height: 50px;
    width: 100%;
    margin: 0px;
    text-align-last: center;
    color:#fff;
}

.formulario{
    width: 300px;
    height: 600px;
    background:black;
    color: #fff;
    top: 50%;
    left: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
}

.logo-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.formulario input{
    width: 100%;
    margin-bottom: 20px;
}

.formulario input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
}

.formulario input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}