:root{
    --black:#000000;
    --red:#841818;
    --white:#fafafa;
    --yellow:#e0bb20;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    overflow-x: hidden;
    font-family: 'Lobster', cursive;
}

/**skew**/

.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.skew-arriba{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 10;
}

/**menu de navegacion**/
#header{
    position: relative;
    width: 100%;

}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;

}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: white;
}
.menu .list-container .lists li a:hover{
    background: var(--red);
    color: white;
}

.btn-menu > .fa-bars{
    display: none;
}

/**img header**/

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/contacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .Aprende{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .Aprende h1{
    font-size: 50px;
    color: white;
    font-weight: 200;
}

.img-header .Aprende hr{
    width: 400px;
    height: 2px;
    background: white;
    border: none;
    margin-top: 5px;
}

.img-header .Aprende p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


.contac{
    width: 100%;
    margin-top: 80px;
}

.contac .contac-information{
    width: 90%;
    margin: auto;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.contac .contac-information h3{
    font-size: 45px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.contac .contac-information p{
    text-align: center;
    position: relative;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
    font-family: fantasy;
}

.contac .contac-information .galery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;

}

.contac .contac-information .galery img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
}

.formulario-main{
    width: 100%;
    margin-top: 80px;
}

.formulario-main .formulario-box{
    width: 60%;
    border-radius: 20px;
    border: 2px solid var(--red);
    margin: 50px auto;
    padding: 30px;
    padding-top: 20px;
    background:  url(img/progtucman.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 70px 30px;

}

.formulario-main .formulario-box #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulario-main .formulario-box #formulario label{
    text-align: center;
    color: var(--white);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}
.formulario-main .formulario-box #formulario input{
    width: 90%;
    height: 35px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}
.formulario-main .formulario-box #formulario textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    font-size: 17px;
    color:var(--black);
    padding: 20px;
}

.formulario-main .formulario-box #formulario .send{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.formulario-main .formulario-box #formulario .send button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: var(--white);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.formulario-main .formulario-box #formulario .send button:hover{
    background: var(--yellow);
}

.main-footer{
    background-color: black;
    color: floralwhite;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;

}

.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer[class*="icon-"] {
    color: white;
    text-decoration: none;

}
.main-footer[class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;

}

/**Media Query**/

@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }

    .btn-menu > .fa-bars:hover{
        color: var(--red);
    }
    .btn-menu > .fa-times{
        color: var(--red);
    }

    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #ffffff;
    }

    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }

    .menu .list-container .lists li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--red);
        text-align: center;
    }
    .menu .list-container .lists li a{
        font-size: 20px;
    }

    .menu .list-container .lists li a.activo{
        background: none;
        color: var(--red);
    }
    .menu .list-container .lists li a:hover{
        background: none;
        color: var(--red);
    }


}